* {
    font-family: Victor Mono;
}

table, td, th {
    border: 1px solid black;
}

.table-1 {
    width: 50%;

}
#total-deaths, #total-confirmed, #total-recovered {
    font-weight: 500;
    font-size: 25px;
}
